Sentiment analysis

VADER

In [10]:
import pandas as pd
import re
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [14]:
df = pd.read_csv("data/stock_tweets.csv")

# Data Preprocessing to remove noise
def clean_tweet(text):
    # Remove mentions
    text = re.sub(r'@\w+', '', text)
    # Remove hashtags
    text = re.sub(r'#\w+', '', text)
    # Remove URLs
    text = re.sub(r'http\S+|www\S+', '', text)
    # Remove emojis using Unicode ranges
    text = re.sub(r'[\U0001F600-\U0001F64F'
                  r'\U0001F300-\U0001F5FF'
                  r'\U0001F680-\U0001F6FF'
                  r'\U0001F700-\U0001F77F'
                  r'\U0001F780-\U0001F7FF'
                  r'\U0001F800-\U0001F8FF'
                  r'\U0001F900-\U0001F9FF'
                  r'\U0001FA00-\U0001FA6F'
                  r'\U0001FA70-\U0001FAFF'
                  r'\U00002702-\U000027B0'
                  r'\U000024C2-\U0001F251]', '', text)
    return text.strip()


# Apply the function to the "tweet" column
df['Tweet'] = df['Tweet'].apply(clean_tweet)

df.head()
#For testing purposes
df.to_csv("new_tweets.csv", index=False)

In [15]:
sentiment = SentimentIntensityAnalyzer()

def get_sentiment_score(text):
    return sentiment.polarity_scores(text)['compound']

df['sentiment_score'] = df['Tweet'].apply(get_sentiment_score)

In [31]:
df.sample(n=5)

,Date,Tweet,Stock Name,Company Name,sentiment_score
20578,2022-02-20 08:18:20+00:00,Cybertruck,TSLA,"Tesla, Inc.",0.0000
24627,2022-01-13 20:46:53+00:00,"10yr TY and $TSLA fell together today, as the ...",TSLA,"Tesla, Inc.",0.3470
66566,2022-04-30 01:09:58+00:00,playing against !!,TSM,Taiwan Semiconductor Manufacturing Company Lim...,0.3365
75873,2022-06-13 21:34:53+00:00,Gouging at the Boeing credit default swap desk...,BA,The Boeing Company,0.5255
58922,2022-03-12 14:39:05+00:00,$AAPL is 6.9% of $SPY,AAPL,Apple Inc.,0.0000